@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');@import url(https://fonts.googleapis.com/css?family=Alegreya:400,700,900);#Home_Boxes {
  padding: 48px 16px;
}

.line-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  margin-left: -8px;
  margin-right: -8px;
}

.line-boxes + .line-boxes {
  margin-top: 16px;
}

.line-boxes > *:before {
  content: "Needs to be made a column";
  display: block;
  color: #000;
  background-color: inherit;
  font-size: 0.64rem;
  text-decoration: underline;
}

.line-box-icon {
  text-align: center;
  font-size: 2.441rem;
  padding: 24px;
}

.line-box-item {
  display: block;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  width: auto;
  flex-grow: 1;
  width: 33.33333%;
  flex-grow: 0;
}

.line-box-item:before {
  content: none;
  font-size: inherit;
  text-decoration: inherit;
}

.line-box {
  position: relative;
  border: solid 1px;
  padding: 16px;
  color: #00BE76;
  background-color: inherit;
}

.line-box-title {
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px;
  color: inherit;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.line-box-content {
  line-height: 1.45;
  font-size: 1rem;
  padding: 0 0 24px;
}

.line-box-link {
  text-align: center;
}

.line-box-link > a {
  display: inline-block;
  font-family: "Oxygen", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 2;
  padding: 0 16px;
  text-decoration: none;
  color: #fff;
  background-color: #00BE76;
}

.line-box-item:nth-child(2) .line-box {
  color: #148AA6;
}

.line-box-item:nth-child(2) .line-box-link a {
  background-color: #148AA6;
}

.line-box-item:nth-child(3) .line-box {
  color: #5C0DAC;
}

.line-box-item:nth-child(3) .line-box-link a {
  background-color: #5C0DAC;
}