$navbar_link-color: $color-white;

.nav-menu-toggle {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: solid 1px $navbar_link-color;
	padding: $space-small;
	@include size(40px);

	span {
		border-bottom: solid 2px $navbar_link-color;
	}

	@include media-query($from: s){
		display: none;
	}
}

.navbar {
	ul {
		display: none;
		list-style: none;
		padding: 0px;
	}

	ul.active {
		display: flex;
	}

	a {
		font-family: $font-family-body;
		font-size: $font-size-normal;
		text-transform: uppercase;
		text-decoration: none;
		line-height: 2;
		@include color($navbar_link-color);
	}

	@include media-query($from: m){
		.level-1 {
			// @include make-row();
			display: flex;
	
			> li {
				// @include make-column();
			}
			
			> li > a {
				display: block;
				letter-spacing: 0.1em;

				@include transition(
					color 0.4s ease 0s,
					background-color 0.4s ease 0s
				);
			}

			> li > a:hover {
				color: $color-primary;
			}
	
			> li + li > a {
				margin-left: $space-large;
			}
	
			
		}
	}
}
